body {
  font-family: Mypiad Pro, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #fff;
  font-weight: 200;
}
/* ****************** header **************************** */
header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin-top: 10px;
}
nav {
  width: 450px;
  height: 70px;
  margin: 0 auto;
}
nav section {
  width: 60px;
  height: 105px;
  float: left;
  overflow: visible;
}
nav input {
  position: absolute;
  top: -100px;
}
nav input:checked + label {
  width: 30px;
  height: 30px;
  margin: 10px 10px 0 10px;
  background-color: #b20000;
}
nav input:checked + label span {
  height: 30px;
  background-color: #000;
}
nav input:checked + label p {
  color: #fff;
}
nav input:checked + label:hover p {
  margin: 10px 0 0 0;
}
.roundStyle {
  display: block;
  border: 1px solid #222;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}
label {
  width: 30px;
  height: 30px;
  float: left;
  margin: 10px 10px 0 10px;
  transition: all 0.5s ease;
}
label:hover {
  width: 40px;
  height: 40px;
  background-color: #b20000;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #b20000;
}
label:hover p {
  margin: 15px 0 0 0;
}
label p {
  margin: 10px 0 0 0;
  transition: all 0.5s ease;
}
label span {
  width: 2px;
  height: 0px;
  background-color: 2px solid #000;
  margin: 8px 0 0 14px;
  transition: all 0.5s ease;
}
span {
  color: #999;
  display: block;
}
.monthText {
  width: 70px;
  margin: 20px 0 0 50px;
  font-size: 3.5em;
  float: left;
}
.roundBtnContainer {
  float: right;
  margin: 10px 20px 0 10px;
}
.roundBtnContainer p {
  color: #000;
  margin: 5px 0 0 0;
  transition: all 0.5s ease;
}
.roundBtnContainer input {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  transition: all 0.5s ease;
}
.roundBtnContainer input:hover {
  width: 40px;
  height: 40px;
  background-color: #b20000;
  color: #fff;
  text-align: center;
  border: 1px solid #b20000;
}
.roundBtnContainer input:focus {
  outline: none;
}
.roundBtnContainer input:active {
  background-color: #222;
}
.roundBtnContainer input:hover + p {
  color: #fff;
}
/* ****************** container **************************** */
.container {
  width: 100%;
  height: 1000px;
  background-color: #222;
}
.dateText {
  clear: both;
  float: left;
  margin-top: -25px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
}
.dateText span {
  font-size: 8em;
  color: #444;
  margin: 0 auto;
}
