.noteWrapper {
  width: 250px;
  height: 120px;
  background: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  position: absolute;
  left: 300px;
  top: 150px;
}
::-webkit-scrollbar {
  width: 12px;
/* for vertical scrollbars */
  height: 12px;
/* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
}
.textControl {
  outline: none;
  border: none;
}
input.textControl {
  width: 219px;
  margin-left: 10px;
  background: #f6f6f6;
}
@-moz-document url-prefix() {
  input.textControl {
    width: 215px;
  }
}
.noteWrapper section {
  background: #f6f6f6;
}
.noteWrapper section + section {
  background: #fff;
}
textarea {
  font-family: Mypiad Pro, Arial, Helvetica, sans-serif;
  resize: none;
  display: block;
  width: 246px;
  height: 80px;
}
.btn {
  outline: none;
  border: none;
  width: 15px;
  height: 15px;
  margin: 3px;
  padding: 0;
  border-radius: 100px;
  background: rgba(0,0,0,0.1);
}
.btn:hover {
  background: #b20000;
  cursor: pointer;
}
.btn:active {
  background: #444;
  width: 14.5px;
  height: 14.5px;
  cursor: pointer;
}
